<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Nuevo Escenario</h1>
            <%= render 'form' %>
            <div class="text-center"><%= link_to 'Atras', escenarios_path %></div>
        </div>
    </div>
</div>